body {
  font-family: 'Roboto', sans-serif;
}
header {
  padding: 154px 0 100px;
  background:rgb(130, 20, 255);
}

@media (min-width: 992px) {
  header {
    padding: 156px 0 100px;
  }
}

section {
  padding: 150px 0;
}

h1 {
  font-weight: 400;
  font-size: 3em;
}

footer {
  background: rgb(53, 0, 113);
}
.navbar-brand {
  font-size: 1.5em;
}

.navbar {
  transition: all 0.6s ease-out;
}

.navbar.scrolled {
  background: rgba(53, 0, 113, 0.5);
}