body {
  font-family: 'Roboto', sans-serif;
}


header {
  padding: 154px 0 100px;
  background:rgb(130, 20, 255);
}

@media (min-width: 992px) {
  header {
    padding: 156px 0 100px;
  }
}

@media (min-width: 768px) {
  .media .media-image {
      width: 40%;
  }
}
@media (max-width: 767px) {
  .media .media-image {
      width: 75%;
  }
}

section {
  padding: 150px 0;
}

h1 {
  font-weight: 400;
  font-size: 3em;
}

footer {
  background: rgb(53, 0, 113);
}
footer a {
  color: rgb(255, 221, 112);
  margin-left: 3em;
}

.navbar-brand {
  font-size: 1.5em;
}

.navbar {
  -webkit-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}

.navbar.scrolled {
  background: rgba(53, 0, 113, 0.5);
}

.btn-primary {
  background: rgb(53, 0, 113);
  border: 1px solid rgb(130, 20, 255);
}
.btn-primary:hover {
  background: #8214ff;
  border: 1px solid rgb(53, 0, 113);
}

#projects ul {
  list-style: none;
  padding-left: 0;
}