body {
  font-family: 'Roboto', sans-serif;
}
header {
  padding: 154px 0 100px;
  background: #65349c;
  /* color: white; */
}

@media (min-width: 992px) {
  header {
    padding: 156px 0 100px;
  }
}

section {
  padding: 150px 0;
}

h1 {
  font-weight: 400;
  font-size: 3em;
}

.bg-purple{
  background: #65349c;
}